.user_outer_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 1;
  left: 0; 
  // overflow: hidden;
  // overflow-x: scroll;
  // background-color: rgb(29, 56, 138);
  // background: rgb(0, 0, 0);
  // background-size: cover;
  background-image: url('pleiades-33');
}

.user_container {
  // overflow-x: hidden;
  display: flex;
  margin: 3.5% 15% 0 0;
  height: 100%;
  width: 100%; 
  // border: solid .5px pink;  
}

.user {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 72%;
  // border: solid .5px red; 
}


.watchlist_container {
  position: fixed;
  box-sizing: border-box;
  right: 19.5%;
  top: 10.7%;  
  height: 80%; 
  width: 17%;
  // padding: 20%; 
  border: solid .5px blue; 
}
