.star {
  fill: rgb(9, 86, 253);
  animation: pulse var(--star-animation-duration, 1000ms) infinite backwards,
  glowing var(--star-animation-glow-duration, 1000ms) infinite alternate backwards;
  animation-delay: var(--star-animation-delay, 0);
}

.star-parallax {
  transform: translate(0, calc(-1px * var(--translateScrollY) * var(--parallax-intensity, 200) * 1/var(--parallax-depth, 1) ));
  transition: transform .1s;
  will-change: transition;
}

.shooting-star {
  fill: rgb(9, 86, 253);
  transform-origin: 225px 0;
  animation: 5s orbitAnimation infinite linear, 5s shootStarGlow infinite;
}

.shine {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
}

.shooting-star:after {

  animation: shine 5s ease-in-out  infinite;
  animation-fill-mode: forwards;  
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

#svgCanvas {
  height: 200vh;
}

#btnDebug {
  position: fixed;
  z-index:1;
  top: 10px;
  left: 10px;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  70% {
    transform: scale3d(0.2, 0.2, 0.2);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes glowing {
  0% {
    opacity: var(--star-brightness, 1);
  }

  100% {
    opacity: calc(var(--star-brightness, 1) * 0.5);
  }
}

@keyframes orbitAnimation {
  0% {
    transform: translate(-125px, 0) rotate3d(0, 0, 1, 360deg);
  }
  100% {
    transform: translate(-125px, 0) rotate3d(0, 0, 1, 270deg);
  }
}


@keyframes shootStarGlow {
  0% {
    opacity: 0
  }

  50%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}