.about_container {
  display: flex; 
  box-sizing: border-box;
  height: 38vh;
  width: 100%; 
  // background: black; 
  border: solid .5px blue;   
}

.about_inner {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  height: 100%; 
  width: 100%;
  border: solid .5px orange; 
}

.aboutData_container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin: 3% 0 0 0;
  // border: solid .5px fuchsia; 
}

.aboutData_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-break: break-all;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  height: 15%;
  width: 23%;
  padding: 0 .5% 0 0; 
  // border-radius: 3%;
  // color: white;
  // background: darkgray;
}