// Structure
.si_outer_container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}

// Left 
.si_left_container {
  display: flex;
  // margin: 30px 0 0 0; 
  height: 100vh; 
  width: 50vw; 
}

.si_background_img {
  align-items: stretch;
  height: 100vh;
  width: 100vw; 
  background-size: cover; 
  // background-image: url('star');
}


// Right
.si_right_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin: 30px 0 0 0; 
  height: 100vh;
  width: 50vw; 
  border: solid .2px rgba(245, 245, 245, 0.541);
  // background: linear-gradient(rgb(19, 87, 126), rgb(214, 229, 241),rgb(19, 89, 126))
}

.si_form_background {
  align-items: center;
  height: 45vh; 
  width: 27.2vw;
  margin: 0 0 0 65px; 
  border-radius: 5px;
  // border: solid .5px rgba(7, 47, 70, 0.185);
  // background-color: rgb(224, 255, 255);
  // background-color: rgba(27, 150, 211, 0.322);
}

// Right // Form
.si_form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px; 
}

.si_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  margin: -6% 0 0 0; 
  padding: 5px 5px 5px 0; 
  color: rgb(0, 0, 58); 
}

.si_form_data_container {
  display: flex;
  flex-direction: column;
  height: 33vh;
  width: 21vw; 
  margin: 0 0 0 30px; 
  // border: solid 1px blue;
}

.si_label_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  margin: -20px 0 0 0;
  // border: solid 1px fuchsia; 
}

.si_label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: .8em;
  padding: 3px 3px 3px 0; 
  color: rgb(0, 0, 58); 
}

.si_errors {
  position: absolute;
  display: inline;
  top: 70%; 
  right: 36.7%;
  font-size: .85em; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  list-style: none;
  color: rgb(0, 0, 58); 
}

.si_error {
  list-style: none;
}

.si_button_container {
  display: flex;
  justify-content: space-between;
  width: 355px; 
  margin: -1% 0 0 30px; 
}

.si_button {
  font-size: .9em;
  font-weight: 500;
  color: white;
  height: 6vh;
  width: 15vh; 
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: solid .5px rgb(245, 245, 245);
  // background: linear-gradient(rgb(19, 87, 126), rgb(214, 229, 241))
  background: rgb(4, 39, 59);
}

.si_textbox {
  font-size: 1em;
  width: 95%; 
  height: 120%; 
  padding-left: 5%;
  outline: none;
  border-radius: 2px;
  background: rgba(7, 47, 70, 0.082); // other style
  border: .5px solid rgba(7, 47, 70, 0.377);
}

.si_su {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em; 
  color: rgb(0, 0, 58); 
}

.si_su:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em; 
  color: lightcyan;
}

